<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="OboronEnergoProject.Properties.Settings.energodbConnectionString"
            connectionString="server=localhost;User Id=dbadmin;password=dbadmin;database=energodb;Persist Security Info=True"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
</configuration>